body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    background-image: url("../img/fons.jpeg");
}

.barra {
    min-height: 60px;
}

main {
    justify-content: center;
    min-height: calc(100vh - 160px);
}

.s {
    color: black;
}

.navbar img {
    max-height: 40px;
}

h1 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    color: rgb(202, 236, 6);
    font-weight: bold;
}

footer {
    margin-top: 40px !important;
}

p {
    padding: 1% 2% 1% 2%;
    background-color: white;
    border-radius: 5px;
}