main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

main img {
    margin:auto;
    height: 200px;
    padding-top: 3%;
}

p {
    text-align: justify;
}

#contacte p {
    margin-top: 5%;
    text-align: center;
}